* {
    margin: 0;
    padding: 0;
}

.topa {
    background-image: url(https://tdzh360.oss-cn-chengdu.aliyuncs.com/resources/tdzh/u1767.png);
    background-repeat: no-repeat;
}

.topa_div_text {
    width: 490px;
    height: 196px;
}

.topa_div_text>span {
    display: block;
    width: 490px;
    height: 60px;
}

.SeewoBtn a {
    color: white;
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    margin-top: 20px;
    box-sizing: border-box;
    width: 83px;
    height: 32px;
    text-align: center;
}

.SeewoBtn>a:nth-of-type(1) {
    border: 0px;
    background: linear-gradient(135deg, rgb(31, 158, 227), rgb(31, 158, 227) 0px, rgb(102, 255, 204) 100%, rgb(102, 255, 204) 0px);
}

/* 我们的优势上边*/
.Description {
    width: 1920px;
    height: 162px;
    margin: 0 auto;
    background: url(https://www.tdin360.com/img/websiteBg.eb32a467.jpg)no-repeat;
}

.DescriptionInfo {
    width: 1200px;
    height: 162px;
    margin: 0 auto;
    position: relative;
}

.infoItem {
    /* width: 176px; */
    height: 91px;
    float: left;
    margin-top: 37px;
    margin-right: 200px;
}

.infoItem:nth-of-type(4) {
    position: absolute;
    right: -150px;
}

.data-v-7b56e75c {
    width: 32px;
    height: 4px;
    background: rgb(102, 255, 204);
    margin-bottom: 13px;
}

.infoItem>span {
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 32px;
}

.infoItem>p {
    font-size: 16px;
    color: #FFFFFF;
}

.infoItem>p>a {
    font-size: 32px;
}

/*superiority*/
.superiority {
    font-size: 32px;
    text-align: center;
    margin-top: 48px;
}

.featuresItems {
    width: 1200px;
    overflow: hidden;
    height: 367px;
    padding: 42px 0;
    margin: 20px auto;
    box-sizing: border-box;
    position: relative;
    /* background-color: #1F9EE3; */
    background: url(https://www.tdin360.com/img/features.30cee631.jpg) no-repeat;
    background-size: cover;
}

.featuresItems1 {
    height: 750px;
    transition: all .5s ease;
}

/* 悬浮上移 */
.item_s {
    /* background-color: aqua; */
    width: 33.2%;
    height: 213px;
    padding: 50px 0 20px;
    float: left;
    cursor: pointer;
}

.item_s>p {
    font-size: 16px;
    margin: 8px 0;
    text-align: center;
}

.item_s>span {
    font-size: 14px;
    color: #666666;
    line-height: 28px;
    display: block;
    width: 340px;
    margin: 0 auto;
}

.item_s>div {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    position: relative;

}

.item_s>div>img {
    position: absolute;
    top: 0;
    left: 0%;
}

.item_s>div>img:nth-of-type(2) {
    display: none;
}

/* .item_s>div>img:nth-of-type(1){
    display: none;
} */
.item_s:hover>p {
    color: #1F9EE3;
}

.item_s:hover>div>img:nth-of-type(1) {
    display: none;
}

.item_s:hover>div>img:nth-of-type(2) {
    display: block;
    animation: item_ss .3s forwards linear;
}

@keyframes item_ss {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}


.morese {
    width: 48px;
    height: 80px;
    bottom: -30px;
    left: 48%;
    position: absolute;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}

.morese>img {
    width: 21px;
    height: 12px;
}

.morese>p {
    font-size: 12px;
    opacity: 0;
}

.morese:hover>p {
    opacity: 1;
    transition: all .5s linear;
}

/* 课前课中课后*/
.Front-middle-back {
    padding: 32px 0;
    width: 100%;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    background-color: rgba(245, 246, 248,.9);
    /* margin-bottom: 20px; */
    position: sticky;
    top: 60px;
    z-index: 1;
}
.Front-middle-back2 {
    padding: 32px 0;
    width: 100%;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
    position: fixed;
    top: 70px;
}

.font_mid {
    width: 1200px;
    height: 48px;
    margin: 0 auto;
    /* overflow: hidden; */

    /* background-color: #68747a; */
    position: relative;
}

.font_text {
    overflow: hidden;
    width: 260px;
    height: 48px;
    float: left;
    margin-right: 290px;
    cursor: pointer;
    /* background-color: #1F9EE3; */
}
.font_text:nth-of-type(3){
  position: absolute;
  top: 0;
  right: -350px;
}

.font_text img {
    width: 48px;
    height: 48px;
    float: left;
}

.font_text>img:nth-of-type(2) {
    display: none;
}

.font_text:hover>img:nth-of-type(1) {
    display: none;
}

.font_text:hover>img:nth-of-type(2) {
    display: block;
}

.font_text2 {
    /* float: right; */
    float: left;
    color: #9999A6;
}

.font_text2>p {
    font-size: 24px;
    margin: 0 0 5px;
    line-height: 48px;
}

.font_text2>span {
    display: block;
}

.font_text:hover>.font_text2>p {
    color: #333333;
    transform: translateY(-10px);
    transition: all .3s linear;

}

.font_text:hover>.font_text2 span {
    transform: translateY(-23px);
    transition: all .3s linear;
}
/* 分割线 */
.line_see{
    width: 2px;
    height: 48px;
    background-color: #EEEEEE;
    /* background-color: #750b0b; */
    position: absolute;
    left:350px;
   
}
.line_see:nth-of-type(2){
    width: 2px;
    height: 48px;
    background-color: #EEEEEE;
    /* background-color: #750b0b; */
    position: absolute;
    left: 780px;
}
/* <!-- 前中后反转 --> */
.content_se{
    width: 1240px;
    /* background-color: #1F9EE3; */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: rotateY(180deg);
}
.activesee{
    opacity: 1;
    transform: rotateY(0deg);
    transition: all .5s linear;
}
.see_p{
font-size: 32px;
text-align: center;
}
.see_span{
    display: block;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
.contentFontsee{
    margin-top: 50px;
    width: 1240px;
}
.contentFontsee>div{
    height: 480px;
    float: left;
    /* padding: 50px; */
    /* box-sizing: border-box; */
}
.contentFontsee>div>p:nth-of-type(1){
    text-align: left;
    margin-top: 100px;
}
.contentFontsee>div>p:nth-of-type(2){
    text-align: left;
}
.contentFontsee>div span{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contentFontsee:nth-of-type(2)>div{
float: right;
}
.contentFontsee:nth-of-type(2)>img{
    float: left;
}

.contentFontsee:nth-of-type(3)>div{
margin-top: 100px;
}
/* 第二个 */

.contentFontsee:nth-of-type(4)>div{
float: right;
margin-top: 100px;
}
.contentFontsee:nth-of-type(4)>img{
    display: block;
    float: left;
}
